.section-photos{
    background-color: var(--black);
    padding: 10px;
    margin: 50px 0;
}

.section-title{
    margin-bottom: 10px;
}

.photos-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 285px);
    justify-content: center;
    gap: 29px;
    list-style: none;
    
}

.grip-photos{
    width: 100%;
    height: auto;
}

.photos > img {
    width: 100%;
    height: 285px;
    border-radius: 15px;
}

.h3-photos{
    display: flex;
    justify-content: center;
    color: var(--white);

}